################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/bin
**/obj
**/*.user
**/packages
**/Inpainting.UnitTests/images/**/*.png
**/output/*.*
**/Samples/ColorsCalculation/**/*.png
**/Samples/ConsoleWexlerPipeline/**/*.png
**/Samples/Inpaint/**/*.png
**/Samples/Inpaint/**/out/*.*
**/Samples/SeamCarving3/**/*.png