<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NUnit" version="3.8.1" targetFramework="net462" />
  <package id="RhinoMocks" version="3.6" targetFramework="net462" />
  <package id="Zavolokas.Structures" version="1.0.2" targetFramework="net462" />
  <package id="Zavolokas.Structures.Gdi" version="1.0.0" targetFramework="net462" />
</packages>